@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
}
.horizontal{
    height: 5px ;border:0;
    background: black;
}
.vertical {
    border-left: 5px solid rgba(219, 217, 217, 0.509);
    height: 99%;
    position: absolute;
    left: 74%;
}   
table, th, td{
    font: normal 45px arial;
    column-width:  700px;
    background-color: #e2e2e2;
    border: 8px solid #ffffff;
    padding: 2px;
    border-collapse: collapse;
}
body{
    font: normal 32px arial;
    border-inline-color: #5f5d5d 2px ;
}
.linha-vertical{
    border-left: thick solid #5f5d5d;
    height: 100%;
    left: 50%;
    position: relative;
}
.h1{
    font-family: 'Open Sans', sans-serif;
}
.cabeçalho{
    padding-top: 18px;
    padding-bottom: 28px;
    background: linear-gradient( 68.15deg, #3f5be7 16.62%, #0724b6 85.61% );
    display: flex;
    flex-direction: row;
    align-items: center;
}
.cabeçalho-img{
    height: 74px;
}
.senha-guiche{
    font-size: 56px;
    padding: 32px;
    padding-left: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #5f5d5d;
}
.senha{
    padding-left: 32%;
}
.guiche{
    padding-right: 5%;
}
.numero-tabela{
    padding-left: 16%;
    font-size: 250px;
    padding-top: 80px;
    padding-bottom: 80px;
    background: linear-gradient( 68.15deg, #3856f0 16.62%, #0521aa 85.61% );
    color: gold;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.M-08{
    padding-right: 360px;
    text-shadow:1px 5px white;
}
.N-02{
    text-shadow: 1px 5px white;
}
.senhas-anteriores{
    padding: 9px;
    padding-top: 1%;
    padding-right: 32%;
    font-size: 37px;
    display: flex;
    justify-content: space-evenly;
    color: #646363;
}
.tabela-1{
    padding-right: 20%;
}
