* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }


  a{
    text-decoration: none;
  }



  header {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 2rem;
    width: 100%;
}


.text{
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 600px;
    border-left: 5px solid #343D93;
    border-right: 5px solid #343D93;
    opacity: 80%;
    
}


.btn-pedagogico{
  display: block;
  margin: 0 auto;
  margin-top: 60px;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  width: 250px;
  height: 60px;
  border-radius: 15px;
  border: 3px solid #919191;
  background-color: #343D93;
  color:white;
}


.seta{
  background-color: #343D93;
  width: 70px;
  color: white;
  border: 3px solid #919191;
  font-size: 50px;
  margin-left: 20%;
}


